# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Vector stores / embeddings
vector_store/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
